@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Petrona", ui-serif, Georgia, serif;
  --font-segoe: -apple-system-body, ui-sans-serif, -apple-system, "system-ui", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, "sans-serif", "Segoe UI Emoji", "Segoe UI Symbol";

  --animate-glow: glow 3s ease-in-out infinite;

  --animate-text_713: text_713 1.5s ease both infinite;
  --animate-loading_713: loading_713 1.5s ease both infinite;
  --animate-loading2_713: loading2_713 1.5s ease both infinite;

  @keyframes glow {
    0%, 100% {
      box-shadow: 0 0 5px #3b82f6,
                  0 0 5px #3b82f6;
    }

    50% {
      box-shadow: 0 0 35px #3b82f6,
                  0 0 55px #3b82f6;
    }
  }

  @keyframes text_713 {
    0% { letter-spacing: 1px; transform: translateX(0px); }
    40% { letter-spacing: 2px; transform: translateX(26px); }
    80% { letter-spacing: 1px; transform: translateX(32px); }
    90% { letter-spacing: 2px; transform: translateX(0px); }
    100% { letter-spacing: 1px; transform: translateX(0px); }
  }

  @keyframes loading_713 {
    0% { width: 16px; left: 0px; }
    40% { width: 100%; left: 0px; }
    80% { width: 16px; left: calc(100% - 16px); }
    90% { width: 100%; left: 0px; }
    100% { width: 16px; left: 0px; }
  }

  @keyframes loading2_713 {
    0% { transform: translateX(0px); width: 16px; }
    40% { transform: translateX(0%); width: 80%; }
    80% { width: 100%; transform: translateX(0px); }
    90% { width: 80%; transform: translateX(15px); }
    100% { transform: translateX(0px); width: 16px; }
  }
}

body{
    background-color: #000000;
    overflow: hidden;
}